<?xml version="1.0"?>
<!--
/**
 *
 * Based on Piwik Extension for Magento created by Adrian Speyer
 *
 * @category    Matomo
 * @package     Matomo_Analytics
 * @copyright   Copyright (c) 2018 Thiago Contardi.
 * @license http://www.gnu.org/licenses/gpl-3.0.html GPL v3 or later
 *
 */
-->
<config>
    <modules>
        <Matomo_Analytics>
            <version>1.1.0</version>
        </Matomo_Analytics>
    </modules>
    <global>
        <models>
            <matomoanalytics>
                <class>Matomo_Analytics_Model</class>
            </matomoanalytics>
        </models>
        <blocks>
            <matomoanalytics>
                <class>Matomo_Analytics_Block</class>
            </matomoanalytics>
        </blocks>
        <helpers>
            <matomoanalytics>
                <class>Matomo_Analytics_Helper</class>
            </matomoanalytics>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Matomo_Analytics>
                    <files>
                        <default>Matomo_Analytics.csv</default>
                    </files>
                </Matomo_Analytics>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <matomoanalytics_order_success>
                        <class>matomoanalytics/observer</class>
                        <method>setMatomoAnalyticsOnOrderSuccessPageView</method>
                    </matomoanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <matomoanalytics_order_success>
                        <class>matomoanalytics/observer</class>
                        <method>setMatomoAnalyticsOnOrderSuccessPageView</method>
                    </matomoanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <matomoanalytics>
                    <file>matomoanalytics.xml</file>
                </matomoanalytics>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Matomo_Analytics>
                    <files>
                        <default>Matomo_Analytics.csv</default>
                    </files>
                </Matomo_Analytics>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <Matomo_Analytics>
                <use>admin</use>
                <args>
                    <module>Matomo_Analytics_Adminhtml</module>
                    <frontName>matomoanalytics</frontName>
                </args>
            </Matomo_Analytics>
        </routers>
    </admin>
</config>
